Regentes/Service References/ServiceReference1/CConsultaRegistro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CConsultaRegistro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://186.151.231.165/ConsultaRegistro/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://186.151.231.165/ConsultaRegistro/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsultaRegistro_ExisteREG_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteREG" />
  </wsdl:message>
  <wsdl:message name="IConsultaRegistro_ExisteREG_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteREGResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaRegistro_FecIns_InputMessage">
    <wsdl:part name="parameters" element="tns:FecIns" />
  </wsdl:message>
  <wsdl:message name="IConsultaRegistro_FecIns_OutputMessage">
    <wsdl:part name="parameters" element="tns:FecInsResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaRegistro_FecVen_InputMessage">
    <wsdl:part name="parameters" element="tns:FecVen" />
  </wsdl:message>
  <wsdl:message name="IConsultaRegistro_FecVen_OutputMessage">
    <wsdl:part name="parameters" element="tns:FecVenResponse" />
  </wsdl:message>
  <wsdl:portType name="IConsultaRegistro">
    <wsdl:operation name="ExisteREG">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaRegistro/ExisteREG" message="tns:IConsultaRegistro_ExisteREG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaRegistro/ExisteREGResponse" message="tns:IConsultaRegistro_ExisteREG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FecIns">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaRegistro/FecIns" message="tns:IConsultaRegistro_FecIns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaRegistro/FecInsResponse" message="tns:IConsultaRegistro_FecIns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FecVen">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultaRegistro/FecVen" message="tns:IConsultaRegistro_FecVen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultaRegistro/FecVenResponse" message="tns:IConsultaRegistro_FecVen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConsultaRegistro" type="tns:IConsultaRegistro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExisteREG">
      <soap:operation soapAction="http://tempuri.org/IConsultaRegistro/ExisteREG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FecIns">
      <soap:operation soapAction="http://tempuri.org/IConsultaRegistro/FecIns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FecVen">
      <soap:operation soapAction="http://tempuri.org/IConsultaRegistro/FecVen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CConsultaRegistro">
    <wsdl:port name="BasicHttpBinding_IConsultaRegistro" binding="tns:BasicHttpBinding_IConsultaRegistro">
      <soap:address location="http://186.151.231.165/ConsultaRegistro/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>