Regentes/Service References/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExisteREG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodReg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteREGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteREGResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodReg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FecInsResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecVen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodReg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecVenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FecVenResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>