Regentes/Web References/Registro/WebConap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://inab.gob.gt/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://inab.gob.gt/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://inab.gob.gt/">
      <s:element name="ConsultarRegistroRegentes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarRegistroRegentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarRegistroRegentesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarRegistroRegentesSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarRegistroRegentes" />
  </wsdl:message>
  <wsdl:message name="ConsultarRegistroRegentesSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarRegistroRegentesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebConapSoap">
    <wsdl:operation name="ConsultarRegistroRegentes">
      <wsdl:input message="tns:ConsultarRegistroRegentesSoapIn" />
      <wsdl:output message="tns:ConsultarRegistroRegentesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebConapSoap" type="tns:WebConapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarRegistroRegentes">
      <soap:operation soapAction="http://inab.gob.gt/ConsultarRegistroRegentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebConapSoap12" type="tns:WebConapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarRegistroRegentes">
      <soap12:operation soapAction="http://inab.gob.gt/ConsultarRegistroRegentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebConap">
    <wsdl:port name="WebConapSoap" binding="tns:WebConapSoap">
      <soap:address location="http://186.151.231.167/wsconap/WebConap.asmx" />
    </wsdl:port>
    <wsdl:port name="WebConapSoap12" binding="tns:WebConapSoap12">
      <soap12:address location="http://186.151.231.167/wsconap/WebConap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>